body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
header {
    background-image: url('https://img2.wallspic.com/crops/1/0/8/4/0/104801/104801-ruines-site_archeologique-tourisme-station_de_montagne-la_grande_muraille_de_chine-1920x1080.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
}
h1{
    text-decoration: underline;
    font-size: 70px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

nav a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    background-color: rgb(207, 143, 143);
    border-radius: 5px;
}
.content {
    padding: 20px;
    height: 600px; /* Just to enable scrolling */
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery-item {
    margin: 10px;
    text-align: center;
    flex-basis: calc(33.333% - 20px); /* Trois éléments par ligne */
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.gallery-item p {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
}


h2{ 
    font-size: 2em;
    text-decoration: underline;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

